# 通用
.git
.gitignore
.env
.env.*
*.log
README.md
.vscode
.idea
*.md

# 前端（client）
client/node_modules
client/.next
client/dist
client/build
client/.cache
client/coverage
client/.env*
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*

# 后端（server）
server/__pycache__
server/*.pyc
server/*.pyo
server/*.pyd
server/.Python
server/env/
server/venv/
server/.env
server/dist/
server/build/
server/storage
server/develop-eggs/
server/downloads/
server/eggs/
server/lib/
server/lib64/
server/parts/
server/sdist/
server/var/
server/*.egg-info/
server/.installed.cfg
server/*.egg
server/.pytest_cache/
server/htmlcov/
server/.coverage
server/coverage/
server/.tox/
server/dist

# Docker
.docker
docker-compose*.yml
Dockerfile* 